:root {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 2xl;
  color: white;
}

/* add your styles here! */

* {
  box-sizing: border-box;
}
body {
  background-color: #272632;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

body h1 {
  text-align: center;
}
body h2 {
  font-size: 2em;
  text-align: center;
}
.hometitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.home {
  background-color: DodgerBlue;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  position: relative;
  top: 5px;
  height: 50px;
  width: 50px;
}
.home:hover {
  transform: scale(1.2);
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  width: 90%;
  gap: 10px;
  margin: 10px;
  overflow: visible;
  text-wrap: nowrap;
}
.feelinglucky {
  background-color: rgb(55, 243, 41);
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 5px;
}
.searchbar button:hover {
  transform: scale(1.2);
}

.pokeselect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-decoration: none;
  list-style: none;
  margin: auto;
  padding: 0px;
}
.regions {
  background-color: #57bd25;
  border: solid 5px #6eca40;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.regions:hover {
  transform: scale(1.2);
}
.region,
.region:link,
.region:visited,
.region:hover,
.region:active {
  font-size: 3em;
  text-shadow: 3px 3px 2px rgb(121, 116, 151);
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
.regionalpokemon {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.pokelist {
  background-color: #57bd25;
  border: solid 5px #6eca40;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin: 10px;
  padding: 2px;
  width: 200px;
  height: 120px;
}

.pokelist:hover {
  transform: scale(1.2);
}
.pokelist img {
  width: 90px;
  height: 90px;
}

.pokemon,
.pokemon:link,
.pokemon:visited,
.pokemon:hover,
.pokemon:active {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  text-shadow: 3px 3px 2px rgb(121, 116, 151);
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  text-wrap: nowrap;
  align-items: center;
}

.pokecard {
  background-image: url(../client/images/pokecard.png),
    linear-gradient(#ffffff36, #b4b4b43b);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 5px white;
  border-radius: 10px;
  color: black;
  height: 620px;
  width: 420px;
  position: relative;
  left: 10%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  color: white;
  gap: 40%;
  width: 90%;
}

.title h1 {
  width: 180px;
  text-wrap: nowrap;
}

.pokecard ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 10px;
  width: 90%;
  margin: 0px;
  padding: 0px;
}

.pokecard li {
  border: solid 5px lightblue;
  border-radius: 10px;
  background-color: lightblue;
  padding: 5px;
}

#thumbnail {
  position: relative;
  bottom: 70px;
  left: 160px;
  height: 100px;
  padding: 10px;
  object-fit: fill;
  z-index: 2;
}

#pokeimage {
  position: relative;
  bottom: 85px;
  height: 300px;
  width: 300px;
  object-fit: fill;
  z-index: 2;
}

.about {
  position: relative;
  bottom: 130px;
  justify-content: start;
  width: 102%;
  background-color: #ffffff;
  border: solid 5px white;
  border-radius: 20px;
  color: black;
  min-height: 400px;
  overflow: visible;
}
.stats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type='text'] {
  background-color: #f1f1f1;
  width: 100%;
}

button[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  position: relative;
  top: 5px;
  left: 5px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  color: #000000;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items button {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  text-align: start;
}
.autocomplete-items button:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.pokecard:has([id='normal']) {
  background-color: #c7c78e !important;
  border: solid 5px #c7c78e;
}

li[id='normal'] {
  background-color: #a8a878 !important;
  border: solid 5px #a8a878;
}
.pokecard:has([id='fire']) {
  background-color: #f1904b !important;
  border: solid 5px #f1904b;
}

li[id='fire'] {
  background-color: #f08030 !important;
  border: solid 5px #f08030;
}
.pokecard:has([id='water']) {
  background-color: #8dafff !important;
  border: solid 5px #8dafff;
}

li[id='water'] {
  background-color: #6890f0 !important;
  border: solid 5px #6890f0;
}
.pokecard:has([id='electric']) {
  background-color: #fcdd62 !important;
  border: solid 5px #fcdd62;
}

li[id='electric'] {
  background-color: #f8d030 !important;
  border: solid 5px #f8d030;
}
.pokecard:has([id='grass']) {
  background-color: #93de6e !important;
  border: solid 5px #93de6e;
}

li[id='grass'] {
  background-color: #78c850 !important;
  border: solid 5px #78c850;
}
.pokecard:has([id='ice']) {
  background-color: #aeecec !important;
  border: solid 5px #aeecec;
}

li[id='ice'] {
  background-color: #98d8d8 !important;
  border: solid 5px #98d8d8;
}
.pokecard:has([id='fighting']) {
  background-color: #d64038 !important;
  border: solid 5px #d64038;
}

li[id='fighting'] {
  background-color: #c03028 !important;
  border: solid 5px #c03028;
}
.pokecard:has([id='poison']) {
  background-color: #c35fc3 !important;
  border: solid 5px #c35fc3;
}

li[id='poison'] {
  background-color: #a040a0 !important;
  border: solid 5px #a040a0;
}
.pokecard:has([id='ground']) {
  background-color: #eacd7f !important;
  border: solid 5px #eacd7f;
}

li[id='ground'] {
  background-color: #e0c068 !important;
  border: solid 5px #e0c068;
}
.pokecard:has([id='flying']) {
  background-color: #beabf8 !important;
  border: solid 5px #beabf8;
}

li[id='flying'] {
  background-color: #a890f0 !important;
  border: solid 5px #a890f0;
}
.pokecard:has([id='psychic']) {
  background-color: #fb6a95 !important;
  border: solid 5px #fb6a95;
}

li[id='psychic'] {
  background-color: #f85888 !important;
  border: solid 5px #f85888;
}
.pokecard:has([id='bug']) {
  background-color: #c2d13b !important;
  border: solid 5px #c2d13b;
}

li[id='bug'] {
  background-color: #a8b820 !important;
  border: solid 5px #a8b820;
}
.pokecard:has([id='rock']) {
  background-color: #d3bc52 !important;
  border: solid 5px #d3bc52;
}

li[id='rock'] {
  background-color: #b8a038 !important;
  border: solid 5px #b8a038;
}
.pokecard:has([id='ghost']) {
  background-color: #9277bd !important;
  border: solid 5px #9277bd;
}

li[id='ghost'] {
  background-color: #705898 !important;
  border: solid 5px #705898;
}
.pokecard:has([id='dragon']) {
  background-color: #8355ef !important;
  border: solid 5px #8355ef;
}

li[id='dragon'] {
  background-color: #7038f8 !important;
  border: solid 5px #7038f8;
}
.pokecard:has([id='dark']) {
  background-color: #897161 !important;
  border: solid 5px #897161;
}

li[id='dark'] {
  background-color: #705848 !important;
  border: solid 5px #705848;
}
.pokecard:has([id='steel']) {
  background-color: #dbdbf1 !important;
  border: solid 5px #dbdbf1;
}

li[id='steel'] {
  background-color: #b8b8d0 !important;
  border: solid 5px #b8b8d0;
}
.pokecard:has([id='fairy']) {
  background-color: #fdcbd0 !important;
  border: solid 5px #fdcbd0;
}
li[id='fairy'] {
  background-color: #f0b6bc !important;
  border: solid 5px #f0b6bc;
}
